In [1]:
import agine
import numpy as np
import pandas as pd

Setting up agine-Environment...
	Detected OS            : Windows-10
	scikit-learn Options   : True
	Threading Availibilty  : False
	Tensorflow Availibilty : False

In [2]:
data = pd.read_csv('./sample_data.csv', nrows = 100)

In [3]:
data['loc'] = data[['Longitude', 'Latitude']].apply(lambda x: tuple((x[0], x[1])), axis = 1)
data.rename(columns = {'Cell Name' : 'SAP-ID'}, inplace = True)
# data['SAP-ID'] = data['SAP-ID'].apply(lambda x: x[:-2])

data.sample(5)

,SAP-ID,Type,Latitude,Longitude,Azimuth Alpha,loc
59,I-AS-AGMN-ENB-9027-2,ENB,26.255816,89.752390,330,"(89.75239, 26.25581639)"
3,I-AS-ABYP-ENB-9003-0,ENB,26.333005,90.666242,0,"(90.66624167, 26.33300528)"
98,I-AS-AGMN-ENB-H002-2,ENB,26.276866,89.756602,280,"(89.7566025, 26.27686556)"
2,I-AS-ABYP-ENB-6000-2,ENB,26.346507,90.654643,330,"(90.65464278, 26.34650667)"
64,I-AS-AGMN-ENB-9030-1,ENB,26.244239,89.800378,160,"(89.80037833, 26.24423861)"

In [4]:
data.head()

,SAP-ID,Type,Latitude,Longitude,Azimuth Alpha,loc
0,I-AS-ABYP-ENB-6000-0,ENB,26.346507,90.654643,90,"(90.65464278, 26.34650667)"
1,I-AS-ABYP-ENB-6000-1,ENB,26.346507,90.654643,190,"(90.65464278, 26.34650667)"
2,I-AS-ABYP-ENB-6000-2,ENB,26.346507,90.654643,330,"(90.65464278, 26.34650667)"
3,I-AS-ABYP-ENB-9003-0,ENB,26.333005,90.666242,0,"(90.66624167, 26.33300528)"
4,I-AS-ABYP-ENB-9003-1,ENB,26.333005,90.666242,120,"(90.66624167, 26.33300528)"

In [5]:
agine.HaversineDistance((90.654643, 26.346507), (90.666242, 26.333005))

1.289866041026848

In [6]:
allNeighbor = agine.NearestNeighbor(data[['SAP-ID', 'loc']], UIN = 'SAP-ID')

Start >> Generating shapely Objects, at Mon Aug  3 15:13:03 2020
	 Completed in 9.42 Secs.
Start >> Joining Data with gpd.sjoin(), at Mon Aug  3 15:13:13 2020
	 Completed in 0.08 Secs.

Calculating Distance with haversine Metric: 198it [00:00, 24817.63it/s]
c:\users\debmalya.pramanik\documents\repository\agine\agine\core\point_function.py:196: UserWarning: Found 198 Neighbors at 0 units Distance
  warnings.warn(f'Found {_zero_dist_nbr} Neighbors at 0 units Distance')

Start >> Calculating Ranks, at Mon Aug  3 15:13:13 2020

In [7]:
allNeighbor

,SAP-ID,loc,NBR_SAP-ID,NBR_loc,Calculated Distance,rnk
1,I-AS-ABYP-ENB-6000-0,"(90.65464278, 26.34650667)",I-AS-ABYP-ENB-6000-1,"(90.65464278, 26.34650667)",0.0,1.0
2,I-AS-ABYP-ENB-6000-0,"(90.65464278, 26.34650667)",I-AS-ABYP-ENB-6000-2,"(90.65464278, 26.34650667)",0.0,1.0
3,I-AS-ABYP-ENB-6000-1,"(90.65464278, 26.34650667)",I-AS-ABYP-ENB-6000-0,"(90.65464278, 26.34650667)",0.0,1.0
5,I-AS-ABYP-ENB-6000-1,"(90.65464278, 26.34650667)",I-AS-ABYP-ENB-6000-2,"(90.65464278, 26.34650667)",0.0,1.0
6,I-AS-ABYP-ENB-6000-2,"(90.65464278, 26.34650667)",I-AS-ABYP-ENB-6000-0,"(90.65464278, 26.34650667)",0.0,1.0
...,...,...,...,...,...,...
290,I-AS-AGMN-ENB-H002-0,"(89.7566025, 26.27686556)",I-AS-AGMN-ENB-H002-2,"(89.7566025, 26.27686556)",0.0,1.0
291,I-AS-AGMN-ENB-H002-1,"(89.7566025, 26.27686556)",I-AS-AGMN-ENB-H002-0,"(89.7566025, 26.27686556)",0.0,1.0
293,I-AS-AGMN-ENB-H002-1,"(89.7566025, 26.27686556)",I-AS-AGMN-ENB-H002-2,"(89.7566025, 26.27686556)",0.0,1.0
294,I-AS-AGMN-ENB-H002-2,"(89.7566025, 26.27686556)",I-AS-AGMN-ENB-H002-0,"(89.7566025, 26.27686556)",0.0,1.0
295,I-AS-AGMN-ENB-H002-2,"(89.7566025, 26.27686556)",I-AS-AGMN-ENB-H002-1,"(89.7566025, 26.27686556)",0.0,1.0